{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- <script>
$(document).ready(function(){
$('#ocena').on('load',function(){
	var p=$('#predmetid').html();
	var s=$('#studentid').html();
	$.ajax({
		url:'getOcena',
		type:'GET',
		dataType : 'json',
		data:{predmetid: p, studentid: s},
		success: function(response){
			var o=response.ocena;
			$('#ocena').html(o);
		}
	});
});
	
});
</script>
<script>
window.onload=function(){
	var p=$('#predmetid').html();
	var s=$('#studentid').html();
	$.ajax({
		url:'getOcena',
		type:'GET',
		dataType : 'json',
		data:{predmetid: p, studentid: s},
		success: function(response){
			var o=response.ocena;
			console.log(o);
			$('#ocena').html(o);
		},
		error: function(){
        alert("Error");
		}
	});
};
</script> -->
<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Student App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index'%}">Home</a></li>
      <li><a href="{% url 'studenti'%}">Studenti</a></li>
      <li><a href="{% url 'predmeti'%}">Predmeti</a></li>
    </ul>
  </div>
</nav>
<h4>Spisak studenata na predmetu: </h4>
<h3>{{predmet.nazivPredmeta}} {{predmet.sifra}}</h3>
<p id="predmetid" hidden>{{predmet.id}}</p>

<div>
<table class="table">
		<tr>
			<th hidden></th>
			<th>Ime i prezime</th>
			<th>Index</th>
			<th>Ocena</th>
		
		</tr>
	{% for student in predmet.studenti.all %}
		<tr>
			<td id="studentid" hidden>{{student.id}}</td>
			<td>{{student.studentIme}} {{student.studentPrezime}}</td>
			<td>{{student.index}}</td>
			<td id="ocena">{{ocena}}</td>
		</tr>
	{% endfor %}
</table>
</div>	
</div>